# Barton Springs Salamanders & Watershed Quality Report
### Benjamin Goad, Michelle Gelman, Nick Hoang, (insert name)

Import libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk

### Data Prep
Read in the data set and print out the head

In [74]:
rawData  = pd.DataFrame(pd.read_csv("Barton_Springs_Salamanders_DO_and_Flow.csv"))
print(rawData.columns)
rawData.head(1000)

Index(['WATERSHED', 'SAMPLE_DATE', 'SITE_NAME', 'LON_DD_WGS84', 'LAT_DD_WGS84',
       'SITE_TYPE', 'MEDIUM', 'PARAM_TYPE', 'PARAMETER', 'QUALIFIER', 'RESULT',
       'UNIT', 'FILTER', 'SAMPLE_ID', 'SAMPLE_SITE_NO', 'METHOD', 'QC_FLAG',
       'PROJECT', 'DATA_REF_NO', 'SAMPLE_REF_NO', 'TIME_NULL', 'QC_TYPE'],
      dtype='object')

c:\Users\00mis\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,WATERSHED,SAMPLE_DATE,SITE_NAME,LON_DD_WGS84,LAT_DD_WGS84,SITE_TYPE,MEDIUM,PARAM_TYPE,PARAMETER,QUALIFIER,...,FILTER,SAMPLE_ID,SAMPLE_SITE_NO,METHOD,QC_FLAG,PROJECT,DATA_REF_NO,SAMPLE_REF_NO,TIME_NULL,QC_TYPE
0,Barton Creek,07/06/1990 12:00:00 AM,Barton Spring,-97.770980,30.263535,Spring,Surface Water,Oxygen,DISSOLVED OXYGEN,NaN,...,Dissolved,NaN,35,UNKNOWN,U,Water Watch Dog,2387519,479314,Y,NaN
1,Barton Creek,07/01/1991 12:00:00 AM,Barton Spring,-97.770980,30.263535,Spring,Surface Water,Oxygen,DISSOLVED OXYGEN,NaN,...,Dissolved,NaN,35,HACH TEST KIT,U,Water Watch Dog,1053022,67681,Y,NaN
2,Barton Creek,08/02/1991 12:00:00 AM,Barton Spring,-97.770980,30.263535,Spring,Surface Water,Oxygen,DISSOLVED OXYGEN,NaN,...,Dissolved,NaN,35,HACH TEST KIT,U,Water Watch Dog,557211,67682,Y,NaN
3,Barton Creek,10/11/1991 12:00:00 AM,Barton Spring,-97.770980,30.263535,Spring,Surface Water,Oxygen,DISSOLVED OXYGEN,NaN,...,Dissolved,NaN,35,HACH TEST KIT,U,Water Watch Dog,1052978,67677,Y,NaN
4,Barton Creek,06/04/1992 11:00:00 AM,Barton Spring,-97.770980,30.263535,Spring,Surface Water,Oxygen,DISSOLVED OXYGEN,NaN,...,Dissolved,NaN,35,UNKNOWN,U,Water Watch Dog,2335102,450308,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Barton Creek,04/12/2001 12:00:00 AM,Eliza Spring,-97.770061,30.264246,Spring,Benthic Cover,Salamanders,AUSTIN BLIND SLMNDR (<1IN.) (JUVENILE),NaN,...,Total,NaN,428,VISUAL ASSESSMENT,U,Barton Springs Salamander,1705157,342910,Y,NaN
996,Barton Creek,04/12/2001 12:00:00 AM,Eliza Spring,-97.770061,30.264246,Spring,Benthic Cover,Salamanders,AUSTIN BLIND SALMNDR (ADULT) > 1 INCH,NaN,...,Total,NaN,428,VISUAL ASSESSMENT,U,Barton Springs Salamander,1705158,342910,Y,NaN
997,Barton Creek,04/12/2001 12:00:00 AM,Eliza Spring,-97.770061,30.264246,Spring,Benthic Cover,Salamanders,SALAMANDER (UNKNOWN LENGTH),NaN,...,Total,NaN,428,VISUAL ASSESSMENT,U,Barton Springs Salamander,1680711,342910,Y,NaN
998,Barton Creek,04/12/2001 12:00:00 AM,Eliza Spring,-97.770061,30.264246,Spring,Benthic Cover,Salamanders,AUSTIN BLIND SALAMANDER (UNKNOWN LENGTH),NaN,...,Total,NaN,428,VISUAL ASSESSMENT,U,Barton Springs Salamander,1705163,342910,Y,NaN
999,Barton Creek,04/16/2001 11:05:00 AM,Old Mill (Sunken Gardens) Spring,-97.768076,30.263585,Spring,Ground Water,Flow/Rainfall,FLOW,NaN,...,Total,NaN,422,USGS FLOW MEASUREMENT,U,Groundwater,930894,110779,N,NaN

- Create new dataset using sample ID as the index
- Aggregate different PARAM_TYPEs and incorporate them as features in the new data set

In [108]:
print(len(rawData))
groupedData = rawData.groupby('PARAM_TYPE')
#salamanderData = groupedData[groupedData['PARAM_TYPE'] == 'Salamanders']
groupedData[['PARAM_TYPE','RESULT', 'UNIT']].head(49466)
groupedData.std()
groupedData.mean()
#groupedData.get_group('Salamanders')
#groupedData.size()
#print(rawData.columns)
#print(groupedData.columns)
#print(rawData["PARAM_TYPE"].isna().sum())

49466

,LON_DD_WGS84,LAT_DD_WGS84,RESULT,SAMPLE_SITE_NO,DATA_REF_NO,SAMPLE_REF_NO
PARAM_TYPE,,,,,,
Flow/Rainfall,-97.770364,30.263716,24.332279,667.112676,1.787544e+06,354522.850939
Oxygen,-97.770446,30.263763,23.822457,463.810811,1.703577e+06,347479.041335
Physicals,-97.769915,30.263725,278.503129,417.691370,1.636080e+06,340347.444653
Salamanders,-97.770069,30.263734,3.767404,415.816040,1.960869e+06,349998.396724
Spatial,-97.769942,30.263777,122.544456,454.512239,1.752894e+06,360538.126836
Temporal,-97.769994,30.263737,143.032819,452.421459,1.689911e+06,349149.605172

## Feature Engineering Plan
- [ ] aggregate sample IDS by parameter types:
    - [ ] get result and unit
    - [ ] print out statistics on each (std, mean)
- [ ] Don't need qualifier, sample IDs, filter, don't need sample_id,

In [17]:
samples = []
parameters = []

for index, row in rawData.iterrows():
    if row["SAMPLE_REF_NO"] not in samples:
        samples.append(row["SAMPLE_REF_NO"])
    if row["PARAM_TYPE"] not in parameters:
        parameters.append(row["PARAM_TYPE"])
parameters.append("SITE_NAME")
parameters.append("DATE")
print(len(samples), parameters)

5409 ['Oxygen', 'Salamanders', 'Flow/Rainfall', 'Temporal', 'Physicals', 'Spatial', 'SITE_NAME', 'DATE']

In [70]:
print(parameters)
print(len(samples))

['Oxygen', 'Salamanders', 'Flow/Rainfall', 'Temporal', 'Physicals', 'Spatial', 'SITE_NAME', 'DATE']
5409

In [81]:
df = pd.DataFrame(columns=parameters)

for sample in samples:
    #aggregating data for each sample
    sampleData = dict()
    sampleData.update({"Sample Number": sample})
    sampleDF = rawData[rawData["SAMPLE_REF_NO"] == sample]
    #print(type(sampleDF))
    for index, row in sampleDF.iterrows():
        sampleData.update({row["PARAM_TYPE"]: row["RESULT"]})
    
    #print(sampleData)
    df.append(sampleData, ignore_index=True)   
df.head()

Empty DataFrame
Columns: [Oxygen, Salamanders, Flow/Rainfall, Temporal, Physicals, Spatial, SITE_NAME, DATE]
Index: []